/frontend/yarn.lock
/frontend/node_modules
.vscode
.eslintrc.json
prettier.config.js
.editorconfig

.idea
/backend/.idea
/backend/.project
/backend/.classpath
/backend/.factorypath
/backend/.settings
/frontend/.idea
*.iml
